.active {
	cursor: default;
} 

/*body>.header {
	height: 440px;
	position: relative;
	overflow: hidden;
}*/
body>.header.new {	
	height: 279px;
}

.new.anim {
	background-image: url('../images/header/bg_new.jpg');
	background-size: 846px 279px;
	background-repeat: repeat-x;
}

body>.header>.right {
	position: absolute;
	right: 80px;
	width: 35%;
}

body>.header>.right .logo {
	position: absolute;
	top: 5px;
	left: 50px;
}

body>.header>.right .trans {
	position: absolute;
	top: 240px;
	left: -700px;
	width: 300px;	
}
/*body>.header>.right .trans a {
	color: #000;
	font-size: 9px;
	text-decoration: none;
}*/

body>.header>.right .trans>.title {
	margin-bottom: 5px;
}
body>.header>.right .trans>.title h1 {
	font-size: 32px;
	color: #EAFDE5;
	line-height: 35px;
}