
#apacia {
	min-height: 300px;
	background: url('../view/spb/include/cars/images/footer.png');
}

body, html {
	margin: 0;
	padding: 0;
}
img {
	border: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 1430px;
	position: relative;
}

h1, .h1, h1>a, .h1>a {
	font-size: 22px;
	color: #747378;
	font-weight: normal;
}
h2, h2>a, .h2, .h2>a {
	font-weight: bold;
	font-size: 16px;
	color: #82B810;
}
.green {
	color: #82B810 !important;
}
.red {
	color: #F00 !important;
}
.big {
	font-weight: bold;
	font-size: 26px;
	font-family: 'HC', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
a {
	color: #82B810;
}
p {
	margin: 10px 0;
}


.form {
	display: inline-block;
	background: #efefe9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	padding: 20px 25px;	
	color: #000;
	font-size: 12px;
	--max-width: 600px;
	margin: 30px 0;
}
.form .row {
	margin: 5px 0;
	position: relative;
	min-height: 25px;
}
.form .label>.req {
	color:#F00;
}
.form .label {
	position: absolute;
	top: 6px;
	text-align: right;
	width: 130px;
}
.form .labeled {
	margin-left: 140px;
}
.form input[type=text],
.form input[type=password],
.form select,
.form textarea {
	border: 1px solid #afafaf;
	padding: 3px 5px;
	width: 440px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	outline: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.form textarea {	
	resize: vertical;
}
.form input[type=text].error,
.form input[type=password].error,
.form select.error,
.form textarea.error {
	outline: rgba(255,0,0,0.5) auto 5px !important;
}
.form .buttons {
	text-align: right;
	margin-top: 10px;
}
.form input[type=button],
.form input[type=submit] {
	background: repeat-x 0 0;
	height: 36px;
	border: 1px #afafaf solid;
	color: #FFF !important;
	font-size: 18px;
	font-weight: bold;
	line-height: 18px;
	cursor: pointer;
	padding: 0 30px;
	margin-left: 15px;
	margin: 0;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
	text-shadow: 0px -1px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(255,255,255,0.6);
}
.form input[type=button]:hover,
.form input[type=submit]:hover {
	background-position: 0 -36px;
}
.form input[type=button].green,
.form input[type=submit].green {
	background-image: url('../images/form/but_green.png') !important;
	border: 1px #7dae23 solid;	
}
.form input[type=button].red,
.form input[type=submit].red {
	background-image: url('../images/form/but_red.png') !important;	
	border: 1px #c92b2e solid;	
}

.page>.comments .item {
	padding-bottom: 10px;
	margin-bottom: 20px; 
	border-bottom: 1px solid #cbcbcb;
	text-indent: 30px;
}
.page>.comments .item>.comm {
	float: left;
	width: 45%;
	min-height: 50px;
}
.page>.comments .item>.note {
	float: left;
	width: 45%;
	min-height: 50px;
	margin-left: 50px;
	color: #999;
}
.page>.comments .item>.note h2 {
	color: #999;	
}

.payment_types {
	position: relative;
}
.payment_types h2 {
	font-size: 26px;
	--color: #4D9335;
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 25px;
	margin-bottom: 10px;
}
.payment_types h2>span {
	display: block;
	position: absolute;
	margin-left: -50px;
	font-size: 61px;
	margin-top: 14px;
}
.payment_types img {
	margin: 20px 0 40px 0;
}

@media print {

body>.header,
body>.footer,
.fleet>.order,
.fleet>.showonmap,
.fleet>.cost {
	display: none;
}

}