#footer {
	background-color: white
}

#footer img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: #a0e62e;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 1430px;
	position: relative;
}

h1, .h1, h1>a, .h1>a {
	font-size: 22px;
	color: #747378;
	font-weight: normal;
}

h2, h2>a, .h2, .h2>a {
	font-weight: bold;
	font-size: 16px;
	color: #82B810;
}

a {
	color: #82B810;
}

p {
	margin: 10px 0;
}

@media print {

body>.header,
body>.footer,
.fleet>.order,
.fleet>.showonmap,
.fleet>.cost {
	display: none;
}